<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sangjo.mapper.CategoryMapper">
	
	<select id="categoryNameList" resultType="com.sangjo.vo.CategoryVO">
		SELECT DISTINCT category_name,
       		   category
	    FROM   tbl_category
	    ORDER  BY category
	</select>
	
	<select id="categoryList" resultType="com.sangjo.vo.CategoryVO">
		SELECT  category_no,
			    category,
                category_detail,
		        category_name,
		        cd_name
		FROM   tbl_category
	</select>
	
	<select id="categorySelectList" parameterType="string" resultType="com.sangjo.vo.CategoryVO">
		SELECT  *
		FROM    tbl_category
		WHERE   category_name = #{categoryName} 
		ORDER   BY category_no
	</select>
	
</mapper>