<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sangjo.mapper.CategoryMapper">
	
	<select id="categoryNameList" resultType="com.sangjo.vo.CategoryVO">
		SELECT DISTINCT category_name,
       		   category
	    FROM   tbl_category
	    ORDER  BY category
	</select>
	
	<select id="categorySelectList" parameterType="string" resultType="com.sangjo.vo.CategoryVO">
		SELECT  *
		FROM    tbl_category
		WHERE   category_name = #{categoryName} 
		ORDER   BY category_no
	</select>
	
	<select id="selectCategory" resultType="com.sangjo.vo.CategoryVO" parameterType="int">
		select category_no,
		category,
		category_detail,
		category_name,
		cd_name
		from tbl_category
		where category_no = #{categoryNo}
	</select>
</mapper>