<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sangjo.mapper.InquiryMapper">
	<select id="getMyInquiryList" parameterType="string" resultType="com.sangjo.vo.InquiryVO">
		SELECT *
		FROM tbl_inquiry
		WHERE inquiry_inquirer = #{memberId}
		ORDER BY inquiry_date DESC, inquiry_no DESC
	</select>
	<insert id="insertInquiry" parameterType="com.sangjo.vo.InquiryVO">
	    INSERT INTO tbl_inquiry (inquiry_no, inquiry_type, inquiry_title, inquiry_content, inquiry_inquirer)
	    VALUES (inquiry_seq.NEXTVAL, 1, #{inquiryTitle}, #{inquiryContent}, #{inquiryInquirer})
	</insert>
</mapper>