<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.sangjo.mapper.MemberMapper">
	<select id="selectMemberById" parameterType="string" resultType="com.sangjo.vo.MemberVO">
		select * 
		from tbl_member
		where member_id = #{memberId}
	</select>
	
	<select id="selectMemberByIdPw" resultType="com.sangjo.vo.MemberVO">
		select * 
		from tbl_member
		where member_id = #{id}
		and member_pw = #{pw}
	</select>
	
	<select id="selectMemberByEamil" parameterType="string" resultType="com.sangjo.vo.MemberVO">
		select * 
		from tbl_member
		where member_email = #{memberEmail}
	</select>
	
	<insert id="insertMember" parameterType="com.sangjo.vo.MemberVO">
		INSERT INTO tbl_member (member_id, member_pw, member_name, member_phone, member_email)
		VALUES(#{memberId}, #{memberPw}, #{memberName}, #{memberPhone}, #{memberEmail})
	</insert>
</mapper>