<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sangjo.mapper.OrderMapper">
	<select id="selectOrderList"
		parameterType="com.sangjo.vo.OrderVO"
		resultType="com.sangjo.vo.OrderVO">
		SELECT
		o.order_no,
		o.order_price,
		o.delivery_price,
		o.order_status,
		o.address_no,
		o.member_id,
		o.order_date,
		o.delivery_date,
		o.cancle_date,
		d.od_no,
		d.product_no,
		d.od_price,
		d.od_cnt
		FROM
		tbl_order o
		JOIN
		tbl_order_detail d
		ON
		o.order_no = d.order_no
	</select>

	<insert id="insertOrder" parameterType="com.sangjo.vo.OrderVO">
		INSERT INTO tbl_order (order_no, order_price, delivery_price, order_status,
		address_no, member_id, order_date, delivery_date, cancle_date)
		VALUES (#{orderNo}, #{orderPrice}, #{deliveryPrice}, #{orderStatus},
		#{addressNo}, #{memberId}, #{orderDate}, #{deliveryDate},
		#{cancleDate})
	</insert>
	
	<insert id="insertOrderDetail" parameterType="com.sangjo.vo.OrderVO">
		INSERT INTO tbl_order_detail (od_no, order_no, product_no, od_price, od_cnt)
		VALUES (#{odNo}, #{orderNo}, #{productNo}, #{odPrice}, #{odCnt})
	</insert>
	
	<select id="getMyOrderList" parameterType="string" resultType="com.sangjo.vo.OrderVO">
		SELECT *
		FROM tbl_order
		WHERE member_id = #{memberId}
	</select>
	
	<select id="getMyOrderDetailList" parameterType="int" resultType="com.sangjo.vo.OrderVO">
		SELECT *
		FROM tbl_order_detail
		WHERE order_no = #{orderNo}
	</select>

</mapper>