<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sangjo.mapper.ProductMapper">
	
	<select id="productTotalList" resultType="com.sangjo.vo.ProductVO">
		<!--  SELECT *
		FROM   tbl_product
		ORDER  BY product_no-->
		
		SELECT  p.product_no
		       ,p.category_no
		       ,p.product_name
		       ,p.product_price
		       ,p.product_img
		       ,p.product_thumbnail_img
		       ,p.product_content
		       ,p.reg_date
		       ,c.cd_name
		FROM    tbl_product p
    		JOIN tbl_category c ON p.category_no = c.category_no 
	</select>
	
	<select id="selectProductList" parameterType="string" resultType="com.sangjo.vo.ProductVO">
		SELECT  p.product_no
		       ,p.category_no
		       ,p.product_name
		       ,p.product_price
		       ,p.product_img
		       ,p.product_thumbnail_img
		       ,p.product_content
		       ,p.reg_date
		       ,c.cd_name
		FROM    tbl_product p
    		JOIN tbl_category c ON p.category_no = c.category_no 
    	WHERE   c.cd_name = #{cdName}
	</select>
	
	<select id="selectProduct" parameterType="string" resultType="com.sangjo.vo.ProductVO">
		select product_no,
			category_no,
			product_name,
			product_price,
			product_img,
			product_thumbnail_img,
			product_content,
			reg_date
		from tbl_product
		where product_no = #{productNo}
	</select>
	
	<select id="selectProductListByCategoryNo" parameterType="int" resultType="com.sangjo.vo.ProductVO">
		select product_no,
			category_no,
			product_name,
			product_price,
			product_img,
			product_thumbnail_img,
			product_content,
			reg_date
		from tbl_product
		where category_no = #{categoryNo}
	</select>
	
	<select id="searchProductList" parameterType="com.sangjo.common.SearchVO" resultType="com.sangjo.vo.ProductVO">
		<!-- SELECT *
		FROM tbl_product
		WHERE 1 = 1 
			<if test="keyword != null">
    		AND product_name LIKE '%' || #{keyword} || '%'
			</if>
			<if test="cdName != null">
    		AND category_no = (SELECT category_no FROM tbl_category WHERE cd_name = #{cdName})
			</if>
 -->
		SELECT  p.product_no
		       ,p.category_no
		       ,p.product_name
		       ,p.product_price
		       ,p.product_img
		       ,p.product_thumbnail_img
		       ,p.product_content
		       ,p.reg_date
		       ,c.cd_name
		FROM    tbl_product p
    		JOIN tbl_category c ON p.category_no = c.category_no 
    	WHERE  1=1
			<if test="keyword != null">
    		AND p.product_name LIKE '%' || #{keyword} || '%'
			</if>
			<if test="cdName != null">
    	 	AND c.cd_name = #{cdName}
    		</if>
	</select>
	
	<select id="sortingDate" parameterType="com.sangjo.common.SearchVO" resultType="com.sangjo.vo.ProductVO">
		SELECT  p.product_no
		       ,p.category_no
		       ,p.product_name
		       ,p.product_price
		       ,p.product_img
		       ,p.product_thumbnail_img
		       ,p.product_content
		       ,p.reg_date
		       ,c.cd_name
		FROM    tbl_product p
    		JOIN tbl_category c ON p.category_no = c.category_no 
    	WHERE  1=1
			<if test="keyword != null">
    			AND p.product_name LIKE '%' || #{keyword} || '%'
			</if>
			<if test="cdName != null">
    	 		AND c.cd_name = #{cdName}
    		</if>
    		<choose>
    			<when test="order == 1">
    		 		ORDER BY p.reg_date DESC
    			</when>
    			<when test="order == 2">
    			 	ORDER BY TO_NUMBER(p.product_price) DESC
    			</when>
    			<when test="order == 3">
    			 	ORDER BY TO_NUMBER(p.product_price) ASC
    			</when>
    		</choose>
	</select>
</mapper>