<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sangjo.mapper.ReviewMapper">
	<insert id="insertReview" parameterType="com.sangjo.vo.ReviewVO">
		INSERT INTO tbl_review ( review_no, product_no, member_id, review_content, review_point)
		VALUES( review_seq.NEXTVAL, #{productNo}, #{memberId}, #{reviewContent}, #{reviewPoint} )
	</insert>
	
	<select id="selectReviewSameMemberId" parameterType="com.sangjo.vo.ReviewVO" resultType="int">
		select count(*) 
		from tbl_review
		where member_id = #{memberId}
		AND product_no = #{productNo}
	</select>
	
	<select id="selectAvgPoint" parameterType="int" resultType="float">
		select avg(review_point)
		from tbl_review
		where product_no = #{productNo}
	</select>
	
	<!-- 수업때 배운 힌트 문장을 활용하였다. Order by 대신 사용 -->
	<select id="selectReviewList" parameterType="string" resultType="com.sangjo.vo.ReviewVO">
		select b.*
		from(select /*+ INDEX_DESC (r PK_TBL_REVIEW) */ rownum rn, r.*
			 from tbl_review r
			 where r.product_no = #{no}) b
		where b.rn > (#{page} - 1) *5
		<![CDATA[
	    and b.rn <= (#{page} * 5 )
	    ]]>
	</select>
	
	<select id="selectReviewCnt" parameterType="string" resultType="int">
		select count(*)
		from tbl_review
		where product_no = #{productNo}
	</select>
	
	<delete id="deleteReview" parameterType="string">
		delete from tbl_review
		where product_no = #{no}
		and member_id = #{id}
	</delete>
</mapper>